<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>Edition</title>
    {% endblock %}
    <style>
        .bg-light {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body class="text-center bg-light">
{% include('Administrateur/navbar.html') %}

{% block body %}

<div class="text-center">
    <div class="album py-5">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">

                <div class="col">
                    <h3>Texte actuel</h3>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {% for ligne in texte %}
                                <p class="card-text"> {{ ligne.texte|safe }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h3>Nouveau texte</h3>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form class="" action="/admin/edition/accueil/texte/update">
                                <pre><textarea name="texte" class="form-control" aria-label="With textarea"></textarea></pre>
                                <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>