<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>Albums</title>
    {% endblock %}
</head>

<body>
{% include('Administrateur/navbar.html') %}
{% block body %}
<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for ligne in info_album %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/static/images/{{ligne.libelle_image_garde}}" alt="{{ligne.libelle_image_garde}}">
                        <div class="card-body">
                            <p class="card-text"> {{ ligne.description_album }} </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form class="" action="/admin/albums/show" >
                                        <input name="id_album" type="hidden" class="form-control rounded-3" id="id_album" value="{{ ligne.id_album }}">
                                        <button class="btn btn-sm btn-primary" type="submit">Regarder</button>
                                    </form>
                                </div>
                                <small class="text-muted"> {{ ligne.date_album }} </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>