{% block title %}
    <title>Acceuil</title>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../static/index.css" rel="stylesheet" type="text/css">
{% endblock %}
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/accueil" class="nav-link px-2 text-muted">Accueil</a></li>
        <li class="nav-item"><a href="/accueil/a_propos_de_nous" class="nav-link px-2 text-muted">A propos de nous</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </footer>