<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>Médias</title>
    {% endblock %}
</head>

<body>
{% include('Famille/navbar.html') %}
{% block body %}

<div class="container">
    {% for ligne in infos_medias %}
            <div class="card shadow-sm">
                {% if ligne.id_type_medias == 1 %}
                    <img src="/static/images/{{ligne.lien_medias}}" alt="{{ligne.libelle_medias}}" class="card-img-top">
                {% endif %}
                {% if ligne.id_type_medias == 2 %}
                    <video controls class="card-img-top">
                        <source src="/static/videos/{{ligne.lien_medias}}" type="video/webm">
                        <source src="/static/videos/{{ligne.lien_medias}}" type="video/mp4">
                        Download the
                        <a href="/static/videos/{{ligne.lien_medias}}">WEBM</a>
                        or
                        <a href="/static/videos/{{ligne.lien_medias}}">MP4</a>
                        video.
                    </video>
                {% endif %}
                {% if ligne.id_type_medias == 3 %}
                    <audio controls src="/static/audios/audio.mp3" class="card-img-top"> <a href="/static/audios/audio.mp3"> Download audio </a> </audio>
                {% endif %}
                <div class="card-body">
                    <p>Libelle : {{ ligne.libelle_medias }}</p>
                    <p>Description : {{ ligne.description_medias }}</p>
                    <p>Date : {{ ligne.date_medias }}</p>
                </div>
            </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>