<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}
        <title>A propos de nous</title>
    {% endblock %}
</head>

<body>

{% include('Tout_le_monde/navbar.html') %}

{% block body %}
{% for ligne in texte %}
    <h1 class="a_propos_de_nous">{{ligne.titre}}</h1>
    <p class="a_propos_de_nous">{{ligne.texte}}</p>
{% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>