<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}
        <title>Mots de passe oublié</title>
    {% endblock %}
</head>

<body>
{% include('Tout_le_monde/navbar.html') %}
{% block body %}
    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Mots de passe oublié</h1>
                    </div>
                    <div class="modal-body p-5 pt-0">
                    <form class="" method="POST" action="/forget-password" >
                        <div class="form-floating mb-3">
                            <input name="login" type="text" class="form-control rounded-3" id="login" placeholder="Saisir votre pseudo">
                            <label for="login">Pseudo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="mail" type="text" class="form-control rounded-3" id="mail" placeholder="Saisir votre mail">
                            <label for="mail">Mail</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Demander l'envoie du mots de passe</button>
                        <small>
                            Votre identifiants de connection serons envoyer à l'adresse que vous avez renseigner lors de votre inscription.
                            <br>
                            Ce processus n'est pas gérer automatiquement. Le délai de réponse moyen et d'une semaine.
                            <br>
                            Si aucun mail ne vous ai envoyer au bout d'une semaine ou que vous rencontrer un autre problème contacter nous à l'adresse suivante : <u>mandiole.services@gmail.com</u>
                        </small>
                        <hr class="my-4">
                        <a href="/"><button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Retour</button></a>
                        <a href="/signup"><button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Crée un compte</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>